.main-header .logo {
  font-family: "Calibri";
  font-weight: bold;
  font-size: 24px;
}

.main-sidebar {
  font-family: "Calibri";
}

.box-title {
  font-family: "Calibri";
}

.box {
  font-family: "Calibri";
}
